.description-container h3 {
    overflow: hidden;
    color: #000000 !important;
    font-size: 1.2rem !important;
    border-bottom: 2px solid black !important;
    padding-bottom: 8px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-weight: bold !important;
}

.description-container p {
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 0.9em;
}

.description-container ul {
    overflow: hidden;
    list-style-type: none;
    padding-left: 0;
}

.description-container ul li {
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid black;
    border-radius: 4px;
}

.description-container ul li p {
    overflow: hidden;
    margin: 0;
}

.description-container code {
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace; 
    overflow: hidden; 
}

.description-container span {
    overflow: hidden;
    font-weight: bold;
    color: black;
}

.description-container td {
    padding-left: 15px !important;
}

.description-container pre {
    display: block;
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    overflow: hidden;
}
